.about-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  max-width: 69.6%;
  min-height: 470px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
  background-color: #c5baaa;
  border: 1px solid black;
  margin-top: 30px;

  section:nth-child(2) {
    margin: 5%;
    width: 70%;

    p {
      word-break: keep-all;
      word-spacing: 0.5px;
      text-align: justify;
      font-weight: 400;
      color: #282119;
    }
  }

  section:nth-child(3) {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      padding: 5px;
      border-radius: 50%;
      border: 1px solid #282119;
      background-color: wheat;
      margin-left: 5px;
      margin-right: 5px;
    }

    img:hover {
      opacity: 0.8;
    }
  }

  section:last-child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 150px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 5px;
      margin-right: 5px;

      a {
        color: black;
      }

      h4:first-child,
      h5:first-child {
        cursor: pointer;
      }

      h4:first-child:hover,
      h5:first-child:hover {
        opacity: 0.8;
      }
    }

    h4,
    h5 {
      margin: 4px;
      color: #282119;
    }

    .timeline {
      display: flex;
      flex-direction: column;
      align-items: center;

      .circle {
        width: 20px;
        height: 20px;
        background-color: #282119;
        border-radius: 50%;
      }

      .line {
        width: 80px;
        height: 2px;
        margin: 50px;
        background-color: #282119;
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 1080px) {
  .about-comp {
    max-width: none;
    width: 90%;
  
    section:first-child {
      img {
        border-radius: 50%;
        margin: 50px;
      }
    }

    section:nth-child(2) {
      width: 90%;
      p {
        text-align: center;
      }
    }
  }
}