.app-pg {
  display: flex;
  justify-content: center;
}

@media screen and (max-height: 2400px) and (max-width: 1080px) {
  .app-pg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}